{% extends 'base.html' %}
{% block content %}
{{context}}
<div class="container">
  <p class="text-center">Контрагент: <b>{{customer}}</b></p>
  <table class="table">
  <tbody>
  {% for row in input_data %}
    <tr>
      {% for i in row %}
      <td>
          <img class="card-img-top" src="{{i.photo}}" alt="{{ i.vendor_code }}" style="max-width: 150px; max-width: 100px;">
            {# <h5 class="card-title">{{ i.vendor_code }}</h5> #}
            <p class="card-title">{{ i.vendor_code }}<br>
            {{ i.price }} BYN</p>
      </td>

      {% endfor %}
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}



{# <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> 
  #}
